<!DOCTYPE html>
<html lang="en">
﻿
<!-- NAME: Paul Krimm -->
<!-- DATE: 2019.01.09 -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/wwwroot/content/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/wwwroot/content/css/darts.css" media="screen" />
    <title>Three50seven - Dart Score</title>
    <!--initialize objects for JavaScript-->
    <script type="text/javascript">
        var MODULES = {}; MODULES.UI = {}; var COMPONENTS = {}; var USER = {};
    </script>
</head>

<body>
    <div id="container">
        <div id="header">
            <h1>Three50seven Netlify</h1>
        </div>
        <div id="body">
            Keep Dart Score Here:

            <p>TODO: Add a score box for each user and subtract points based on darts thrown.</p>
            <p>TODO: Add a box to pick which number (1-20) to create a score column. Add a score column and add an X for each dart thrown.</p>
        </div>﻿
        <div id="footer">This is a collection of various JavaScript and testing apps.</div>
    </div>

    <!--SCRIPTS-->
    <script src="/wwwroot/content/script/libraries/JQuery/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/content/script/libraries/react/umd/react.development.js"></script>
</body>
</html>