<!DOCTYPE html>
<html lang="en">
﻿
<!-- NAME: Paul Krimm -->
<!-- DATE: 2019.01.09 -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" type="text/css" href="/wwwroot/content/css/main.css" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="/wwwroot/content/css/darts.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../wwwroot/content/css/nav/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../wwwroot/content/css/nav/demo.css" />
    <link rel="stylesheet" type="text/css" href="../../wwwroot/content/css/nav/component.css" />
    <script src="../../wwwroot/content/script/libraries/nav/modernizr.custom.25376.js"></script>
    <title>Three50seven - Dart Score</title>
    <!--initialize objects for JavaScript-->
    <script type="text/javascript">
        var MODULES = {}; MODULES.UI = {}; var COMPONENTS = {}; var USER = {};
    </script>
</head>

<body>
    <div id="perspective" class="perspective effect-moveleft">
        <div class="container">
            <div class="wrapper">
                <!-- wrapper needed for scroll -->
                <!-- Top Navigation -->
                <div class="codrops-top clearfix">
                    <a class="codrops-icon codrops-icon-prev" href="/"><span>Back to Home</span></a>
                    <!--<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=17915"><span>Back to the Codrops Article</span></a></span>-->
                </div>
                <header class="codrops-header">
                    <h1>Darts Scoreboard<span>A way to keep score while playing darts</span></h1>
                </header>
                <div class="main">
                    <!-- ko if: errors -->
                    <p class="error">Errors: <strong data-bind="text: errors"></strong></p>
                    <!-- /ko -->
                    <!-- ko if: winningPlayer -->
                    <p class="winner">Winner: <strong data-bind="text: winningPlayer"></strong></p>
                    <!-- /ko -->
                    <p>
                        Choose a dart game to play below.  Click <a href="https://www.mastersofgames.com/rules/darts-rules.htm" target="_blank">here</a> to view rules for various dart games.
                    </p>
                    <p>
                        Choose Game:
                        <select data-bind="options: availableGames, value: selectedGame, disable: gameStarted"></select>
                        <button data-bind="click: resetGame" class="red-btn">Reset Game</button>
                    </p>

                    <div data-bind="visible: selectedGame() === GameEnum.FiveOne">
                        <h3 class="center">501 up (301 up)</h3>
                        <p>
                            Select a game score to reach:
                            <select data-bind="options: availableUpGames, value: score501, disable: gameStarted, event:{ change: upGameChanged}"></select>
                        </p>
                        <!-- ko if: upErrors -->
                        <p class="error">Errors: <strong data-bind="text: upErrors"></strong></p>
                        <!-- /ko -->
                        <table id="scoreBoard" class="center">
                            <thead>
                                <tr>
                                    <td><h3>Round</h3></td>
                                    <td>
                                        SCORE: <span class="score-number" data-bind="text: currentPlayerOneUpScore"></span>
                                        <br />
                                        <input data-bind="value: playerOne, disable: gameStarted" />
                                    </td>
                                    <td>
                                        SCORE: <span class="score-number" data-bind="text: currentPlayerTwoUpScore"></span>
                                        <br />
                                        <input data-bind="value: playerTwo, disable: gameStarted" />
                                    </td>
                                    <td><h3>Controls</h3></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="score-number" data-bind="text: currentUpRound"></span></td>
                                    <td>
                                        Enter Player 1 Score: <br />
                                        <input data-bind="value: playerOneUpRoundScoreEntered" />
                                    </td>
                                    <td>
                                        Enter Player 2 Score: <br />
                                        <input data-bind="value: playerTwoUpRoundScoreEntered" />
                                    </td>
                                    <td>
                                        <button data-bind="click: enterUpScore, visible: !isEditingUpScore()">Save Round</button>
                                        <button data-bind="click: editUpScore, visible: !isEditingUpScore()">Edit</button>
                                        <button data-bind="click: saveAllUpScore, visible: isEditingUpScore()">Save All</button>
                                    </td>
                                </tr>
                                <!-- ko foreach: scoreUpGame -->
                                <tr>
                                    <td><span class="score-number" data-bind="text: round"></span></td>
                                    <td>
                                        Player 1 Score: <span class="score-number" data-bind="text: playerOneScore, visible: !isEditingUpScore()"></span>
                                        <input data-bind="value: playerOneScore, visible: isEditingUpScore()" />
                                    </td>
                                    <td>
                                        Player 2 Score: <span class="score-number" data-bind="text: playerTwoScore, visible: !isEditingUpScore()"></span>
                                        <input data-bind="value: playerTwoScore, visible: isEditingUpScore()" />
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>

                    <div data-bind="visible: selectedGame() === GameEnum.Killer">
                        <h3 class="center">Killer</h3>
                        <p>
                            Coming soon!
                        </p>
                    </div>

                    <div data-bind="visible: selectedGame() === GameEnum.Cricket">
                        <h3 class="center">Cricket</h3>
                        <p>
                            Enter Score Target (1-20):
                            <input data-bind="value: scoreTargetSeed" />
                        </p>
                        <button data-bind="click: buildScoreBoard">Show Score Board</button>

                        <table id="scoreBoard" class="center">
                            <thead>
                                <tr>
                                    <td><input data-bind="value: playerOne" /></td>
                                    <td></td>
                                    <td><input data-bind="value: playerTwo" /></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: scoreTargets -->
                                <tr>
                                    <td><img class="score-marker" src="../../wwwroot/content/images/dart-x-circled-transparent.png" data-bind="click: decrementScore.bind($data, score, 1)" /></td>
                                    <td>
                                        <img class="score-increment" src="../../wwwroot/content/images/dart-plus-transparent.png" data-bind="click: incrementScore.bind($data, score, 1)" />
                                        <span class="score-number" data-bind="text: score"></span>
                                        <img class="score-increment" src="../../wwwroot/content/images/dart-plus-transparent.png" data-bind="click: incrementScore.bind($data, score, 2)" />
                                    </td>
                                    <td><img class="score-marker" src="../../wwwroot/content/images/dart-slash-transparent.png" data-bind="click: decrementScore.bind($data, score, 2)" /></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div><!-- /main -->
            </div><!-- wrapper -->
        </div><!-- /container -->
    </div><!-- /perspective -->
    <!--SCRIPTS-->
    <script src="/wwwroot/content/script/libraries/JQuery/jquery-3.3.1.min.js"></script>
    <script src="/wwwroot/content/script/libraries/knockout/knockout-3.4.2.js"></script>
    <script src="/wwwroot/content/script/custom/dart-score.js"></script>
</body>
</html>