<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56252502-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-56252502-1');
    </script>

    <!-- Load vue.js library -->
    <!-- dev
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <!-- prod-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/main-styles.min.css" />
</head>
<body>
    <div id="jsconfig" style="display:none;visibility:hidden">
        <input type="hidden" value="Production" id="app-environment" />
    </div>
    <a href="/" class="header-link" title="Vue.js Playground (Click to go back home)">
        <div id="header">
            <h1>Vue.js Playground</h1>
        </div>
    </a>
    <div id="playground-app-wrapper" v-cloak>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Alias</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <table-row v-for="(item, index) in TestModel.Results"
                           v-bind:key="item.UserId + '_' + item.ProfileId + '_' + TestModel.SearchCount"
                           v-on:row-deleted="DeleteRow"
                           v-bind:value="item"></table-row>
            </tbody>
        </table>

        Search Count: {{TestModel.SearchCount}}
    </div>

    <script type="text/x-template" id="table-row-template">
        <tr>
            <td>{{ UserName }}</td>
            <td>{{ ProfileName }}</td>
            <td>{{ ProfileEmail }}</td>
            <td>
                <a href="#" v-on:click.prevent="Delete">
                    Delete
                </a>
            </td>
        </tr>
    </script>

    <script src="/assets/js/viewmodels/vue-playground-bundle.min.js"></script>
</body>
</html>