<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56252502-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-56252502-1');
    </script>

    <!-- Load vue.js library -->
    <!-- dev
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <!-- prod-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/horse-racing-styles.min.css" />
</head>
<body>
    <div id="jsconfig" style="display:none;visibility:hidden">
        <input type="hidden" value="Production" id="app-environment" />
    </div>
    <a href="/" class="header-link" title="Horse Racing (Click to go back home)">
        <div id="header">
            <h1>Horse Racing</h1>
        </div>
    </a>
    <p>Select a horse to win and place your bet! Or try <a href="horse-racing-simple.html">Horse Racing (Simple)</a></p>
    <div id="horse-racing-app-wrapper" v-cloak>
        <div class="container">
            <div class="btn-group-sides">
                <button class="btn-side-left" type="button" value="Previous Race"
                        v-on:click.prevent="PreviousRace">
                    <<
                </button>
                <span class="race-number" v-on:click.prevent="ShowRaceMenu">Race {{ CurrentRace.RaceNumber }}</span>
                <div id="raceMenuDropdown" :class="['dropdown-content', 'bar-block', 'border', 'menu', {show:RaceMenuIsShowing}]">
                    <ul class="list-group">
                        <race-menu v-for="(race, index) in Races"
                                   v-bind:key="race.Id"
                                   v-on:race-selected="SelectRace"
                                   v-bind:value="race"></race-menu>
                    </ul>
                </div>
                <button class="btn-side-right" type="button" value="Next Race"
                        v-on:click.prevent="NextRace">
                    >>
                </button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>PP#</th>
                        <th>Horse</th>
                        <th>Odds</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <!--"horse.HorseId + '_' + HorsesModel.RaceCount"-->
                    <table-row v-for="(horse, index) in CurrentRace.Horses"
                               v-bind:key="horse.HorseId + '_' + CurrentRace.Id"
                               v-on:row-selected="SelectRow"
                               v-bind:value="horse"></table-row>
                </tbody>
            </table>

            <br />
            <div>
                <button type="button"
                        v-on:click.prevent="Race"
                        v-if="HorseSelected != 0 && AccountBalance > 0 && !RaceIsStarted">
                    Race
                </button>
            </div>
            <br />

            <div class="container" v-if="CurrentRaceResults.length != 0">
                Race Results:
                <div class="row" v-for="(horse, index) in CurrentRaceResults">
                    {{ index + 1 }} -
                    <div :class=[horse.ClassList]>{{ horse.PolePosition }}</div>
                    <span>{{ horse.HorseName }} - ({{ horse.Odds }})</span>
                </div>
            </div>
        </div>


        <div class="container-fluid text-info">
            <span v-if="ErrorMessage.length != 0">Error: {{ ErrorMessage }}</span>
            <div v-if="RaceResults != 0">
                Winner: {{ RaceResults }}
                <br />
                {{ RaceResultMessage }}
            </div>
            <br />
            <span v-if="HorseSelected != 0">Horse Selected: {{ HorseSelected }}</span>
            <br />
            <br />
            Amount Bet: $<input v-model="BetAmount" type="number">
            <span class="small">Minimum Bet: $2</span>
            <br />
            Account Balance: ${{ AccountBalance }}
        </div>

        <div class="text-info">
            Race Time: {{ RaceTime }}
            <h4>Next Race: {{ CurrentRaceToRun.RaceNumber }}</h4>
        </div>
        <div id="track-container" class="container">
            <div id="horse-track">
                <div id="finish-line"></div>
            </div>
        </div>

        <div class="container" v-if="LiveRacePositions.length != 0">
            Live Results:

            <div class="row" v-for="(horse, index) in LiveRacePositions">
                {{ index + 1 }} -
                <div :class=[horse.ClassList]>{{ horse.PolePosition }}</div>
                <span>{{ horse.HorseName }} - ({{ horse.Odds }})</span>
            </div>
        </div>
        
    </div>

    <script type="text/x-template" id="table-row-template">
        <tr :class="{ active: IsSelected }">
            <td :class=[ClassList]>{{ PolePosition }}</td>
            <td>{{ HorseName }}</td>
            <td>{{ Odds }}</td>
            <td>
                <a href="#" v-on:click.prevent="Select">
                    Select
                </a>
            </td>
        </tr>
    </script>

    <script type="text/x-template" id="race-menu-template">
        <li class="list-group-item">
            <a href="#" class="bar-item button" v-on:click.prevent="Select">Race {{ RaceNumber }}</a>
        </li>
    </script>

    <!--<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="/assets/js/viewmodels/horse-racing-bundle.min.js"></script>
</body>
</html>