<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56252502-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-56252502-1');
    </script>

    <!-- Load vue.js library -->
    <!-- dev
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <!-- prod-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/horse-racing-simple-styles.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div id="jsconfig" style="display:none;visibility:hidden">
        <input type="hidden" value="Production" id="app-environment" />
    </div>
    <div class="container">
        <header class="flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <h1>
                Horse Racing (Simple)
                <button id="theme-switch-button" class="btn btn-primary btn-sm rounded margin-all transform">
                    <img id="switch-theme-icon" src="../../images/icon/moon.svg" />
                </button>
            </h1>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" title="Click to go back home" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="horse-racing.html" title="Horse Racing" class="nav-link">Horse Racing</a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <p>

            Select a horse to win and place your bet!
        </p>
        <div id="horse-racing-app-wrapper" v-cloak>
            <h2>Race {{ HorsesModel.RaceCount }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>PP#</th> <!--TODO: Center Text in Div and setup CSS classes for each Pole Position div-->
                        <th>Horse</th>
                        <th>Odds</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <table-row v-for="(item, index) in HorsesModel.Results"
                               v-bind:key="item.HorseId + '_' + HorsesModel.RaceCount"
                               v-on:row-selected="SelectRow"
                               v-bind:value="item"></table-row>
                </tbody>
            </table>

            <br />
            <div>
                <button type="button"
                        v-on:click.prevent="Race"
                        v-if="HorseSelected != 0 && AccountBalance > 0">
                    Race
                </button>
                <button type="button"
                        v-on:click.prevent="SetupRace"
                        v-if="HorseSelected == 0 && AccountBalance > 0">
                    Next Race
                </button>
            </div>
            <br />

            <div>
                <span v-if="ErrorMessage.length != 0">Error: {{ ErrorMessage }}</span>
                <div v-if="RaceResults != 0">
                    Winner: {{ RaceResults }}
                    <br />
                    {{ RaceResultMessage }}
                </div>
                <br />
                <span v-if="HorseSelected != 0">Horse Selected: {{ HorseSelected }}</span>
                <br />
                <br />
                Amount Bet: $<input v-model="BetAmount" type="number">
                <span>Minimum Bet: $2</span>
                <br />
                Account Balance: ${{ AccountBalance }}
            </div>
        </div>
    </div>


    <script type="text/x-template" id="table-row-template">
        <tr :class="{ active: IsSelected }">
            <td :class="['pole-position', PolePositionClass]">{{ PolePosition }}</td>
            <td>{{ HorseName }}</td>
            <td>{{ Odds }}</td>
            <td>
                <a href="#" v-on:click.prevent="Select">
                    Select
                </a>
            </td>
        </tr>
    </script>

    <script src="/assets/js/viewmodels/horse-racing-simple-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>