<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56252502-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-56252502-1');
    </script>

    <!-- Load vue.js library -->
    <!-- dev-->
    <!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <!-- prod-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/horse-racing-styles.min.css" />
</head>
<body data-bs-theme="dark">
    <div id="jsconfig" style="display:none;visibility:hidden">
        <input type="hidden" value="Production" id="app-environment" />
    </div>
    <div class="container">        
        <header class="flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <h1>Horse Racing</h1>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" title="Click to go back home" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="horse-racing-simple.html" title="Horse Racing (Simple)" class="nav-link">Horse Racing (Simple)</a></li>
            </ul>
        </header>
    </div>

    <div class="container">
        <p>Select a horse to win and place your bet! Or try <a href="horse-racing-simple.html">Horse Racing (Simple)</a></p>
        <div id="horse-racing-app-wrapper" v-cloak class="col">
            <div class="container-fluid text-info">
                <div class="text-info">
                    <h4>Current Race: {{ CurrentRaceToRun.RaceNumber }}</h4>
                </div>
                <span v-if="ErrorMessage.length != 0">Error: {{ ErrorMessage }}</span>
                <div v-if="RaceResults != 0">
                    <span> Winner: {{ RaceResults }}</span>
                    <br />
                    <span>{{ RaceResultMessage }}</span>
                </div>
                <br />
                <span v-if="HorseSelected != 0">Bet: ${{ BetAmount }} to Win on Horse #{{ HorseSelected }} for Race {{ CurrentRaceToRun.RaceNumber }}</span>
                <br />
                <br />
            </div>
            <div class="text-center">
                <div class="btn-group-sides">
                    <button class="btn-side-left btn btn-primary" type="button" value="Previous Race"
                            v-on:click.prevent="PreviousRace">
                        <<
                    </button>
                    <span class="race-number" v-on:click.prevent="ShowRaceMenu">Race {{ CurrentRace.RaceNumber }}</span>
                    <div id="raceMenuDropdown" :class="['dropdown-content', 'bar-block', 'border', 'menu', {show:RaceMenuIsShowing}]">
                        <ul class="list-group">
                            <race-menu v-for="(race, index) in Races"
                                       v-bind:key="race.Id"
                                       v-on:race-selected="SelectRace"
                                       v-bind:value="race"></race-menu>
                        </ul>
                    </div>
                    <button class="btn-side-right btn btn-primary" type="button" value="Next Race"
                            v-on:click.prevent="NextRace">
                        >>
                    </button>
                </div>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-bet-tab" data-bs-toggle="pill" data-bs-target="#pills-bet" type="button" role="tab" aria-controls="pills-bet" aria-selected="true">Bet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-results-tab" data-bs-toggle="pill" data-bs-target="#pills-results" type="button" role="tab" aria-controls="pills-results" aria-selected="false">Results</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-race-tab" data-bs-toggle="pill" data-bs-target="#pills-race" type="button" role="tab" aria-controls="pills-race" aria-selected="false">Race</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-bet" role="tabpanel" aria-labelledby="pills-bet-tab">
                    <h4>Bet:</h4>
                    <br />
                    <div v-if="!RaceIsStarted">
                        <span>Amount Bet: $<input v-model="BetAmount" type="number"></span>
                        <span class="small">Minimum Bet: $2</span>
                    </div>
                    <br />
                    <span>Account Balance: ${{ AccountBalance }}</span>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <sorting-column :sort-by="CurrentRace.SortBy" :direction="CurrentRace.SortDirection" text="PP#" column="PolePosition" v-on:sort-click="SortHorses"></sorting-column>
                            </div>
                            <div class="col">
                                <sorting-column :sort-by="CurrentRace.SortBy" :direction="CurrentRace.SortDirection" text="Horse" column="HorseName" v-on:sort-click="SortHorses"></sorting-column>
                            </div>
                            <div class="col">
                                <sorting-column :sort-by="CurrentRace.SortBy" :direction="CurrentRace.SortDirection" text="Odds" column="OddsRatio" v-on:sort-click="SortHorses"></sorting-column>
                            </div>
                            <div class="col">
                                Select
                            </div>
                        </div>
                        <betting-row v-for="(horse, index) in CurrentRace.Horses"
                                     v-bind:key="horse.Id + '_' + RaceCounter"
                                     v-on:row-selected="SelectRow"
                                     v-bind:value="horse"
                                     v-bind:race-is-started="CurrentRace.IsStarted"></betting-row>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-results" role="tabpanel" aria-labelledby="pills-results-tab">
                    <h4>Race Results:</h4>
                    <transition name="slide-fade">
                        <div class="container" v-if="!CurrentRaceResultsIsEmpty">
                            <div class="row">
                                <div class="col">
                                    Pos
                                </div>
                                <div class="col">
                                    PP#
                                </div>
                                <div class="col">
                                    Horse
                                </div>
                                <div class="col">
                                    Odds
                                </div>
                                <div class="col">
                                    Time
                                </div>
                                <div class="col">
                                    Lengths
                                </div>
                            </div>
                            <result-row v-for="(horse, index) in CurrentRaceResults"
                                        v-bind:key="horse.Id + '_' + CurrentRace.Id"
                                        v-bind:value="horse"
                                        v-bind:position="index + 1"></result-row>
                        </div>
                        <div class="text-info" v-if="CurrentRaceResultsIsEmpty">
                            Race Results Pending...
                        </div>
                    </transition>
                </div>
                <div class="tab-pane fade" id="pills-race" role="tabpanel" aria-labelledby="pills-race-tab">
                    <h4>Live Race:</h4>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button"
                                v-on:click.prevent="Race"
                                v-if="HorseSelected != 0 && AccountBalance > 0 && !RaceIsStarted">
                            Start Race
                        </button>
                        <p v-if="!HorseSelected">
                            Select a horse to win on the "Bet" tab to start the race.
                        </p>
                    </div>
                    <br />
                    <div id="track-container" class="container">
                        <div id="horse-track">
                            <div id="finish-line"></div>
                        </div>
                    </div>
                    <div v-if="LiveRacePositions.length">
                        <span>Live Results:</span>
                        <div>
                            <div class="row list-styling">
                                <div class="col">
                                    <div>
                                        Pos - PP# - Horse (Odds) - Distance - Lengths Back - Speed
                                    </div>
                                </div>
                            </div>
                        </div>
                        <transition-group tag="div" style="list-style-type: none" name="list">
                            <live-row v-for="(horse, index) in LiveRacePositions"
                                      v-bind:key="horse.Id + '_' + RaceCounter"
                                      v-bind:value="horse"></live-row>
                        </transition-group>
                    </div>
                </div>
            </div>
        </div><!--END OF VUE JS APP CONTAINER-->
    </div>

    <script type="text/x-template" id="betting-row-template">
        <div :class="['row', { 'row-selected': IsSelected }]">
            <div class="col">
                <div :class=[ClassList]>
                    {{ PolePosition }}
                </div>
            </div>
            <div class="col">
                {{ HorseName }}
            </div>
            <div class="col">
                {{ Odds }}
            </div>
            <div class="col">
                <a v-if="!RaceIsStarted" href="#" v-on:click.prevent="Select">
                    Select
                </a>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="result-row-template">
        <div class="row">
            <div class="col">
                {{ GetNumberWithEnding(Position) }}
            </div>
            <div class="col">
                <div :class=[ClassList]>
                    {{ PolePosition }}
                </div>
            </div>
            <div class="col">
                {{ HorseName }}
            </div>
            <div class="col">
                {{ Odds }}
            </div>
            <div class="col">
                {{ FinishTime }}
            </div>
            <div class="col">
                {{ FinishLengthsBack }}
            </div>
        </div>
    </script>

    <script type="text/x-template" id="live-row-template">
        <div :class="['row','list-styling', LiveClass]">
            <div class="col">
                <div>
                    {{ GetNumberWithEnding(RacePosition) }} - {{ PolePosition }} - {{ HorseName }} - ({{ Odds }}) - {{ CurrentDistance }} - {{ LengthsBack }} - {{ CurrentSpeed }}
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="race-menu-template">
        <li class="list-group-item list-group-item-action">
            <span href="#" class="bar-item button" v-on:click.prevent="Select">Race {{ RaceNumber }}</span>
        </li>
    </script>

    <script type="text/x-template" id="sorting-column-template">
        <span class="sortable" v-bind:class="IsCurrentSort ? SortDirectionClass : ''" v-on:click="OnClick">{{ text }}</span>
    </script>

    <!--<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="/assets/js/viewmodels/horse-racing-bundle.min.js"></script>
</body>
</html>