body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.85em;
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
  border: 2px solid #eee;
  padding: 2em;
  border-radius: 4px;
}

.error {
  color: red;
}

.header {
    margin: 10px;
    color: cornflowerblue;
    display: flow-root;
}

.header-link {
    text-decoration: none;
    color: #0E97D2;
    padding-left: 10px;
}

    .header-link:visited {
        text-decoration: none;
    }

.home-div {
    float: left;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button, .btn, a.btn {
    border: 1px solid #009fdb;
    cursor: pointer;
    display: inline-block;
    /*font-size: 2rem;*/
    line-height: 1.35;
    margin-bottom: 0.5rem;
    max-width: 90%;
    padding: 0.25rem 2rem;
    color: #57595b;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    width: auto;
}

button:visited, .btn:visited, a.btn:visited {
  color: #57595b;
}

button:hover, .btn:hover, a.btn:hover {
  color: #009fdb;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
}

input[type='submit'] {
  background: #fff;
}

.btn.btn-white-outline, body .juicer-wrap a.j-paginate.juicer-button {
  border: 1px solid #fff;
  color: #fff;
}

.btn.btn-white-outline:visited, body .juicer-wrap a.j-paginate.juicer-button:visited {
  color: #fff;
}

.btn.btn-white-outline:hover, body .juicer-wrap a.j-paginate.juicer-button:hover {
  color: #71c5e8;
}

.btn.btn-green-outline {
  border: 1px solid #007a3e;
  color: #007a3e;
}

.btn.btn-green-outline:visited {
  color: #007a3e;
}

.btn.btn-green-outline:hover {
  color: #007e40;
}

.btn.btn-red-outline {
  border: 1px solid #cf2a2a;
  color: #cf2a2a;
}

.btn.btn-red-outline:visited {
  color: #cf2a2a;
}

.btn.btn-red-outline:hover {
  color: #e89090;
}

.btn.btn-orange-outline {
  border: 1px solid #ea7400;
  color: #ea7400;
}

.btn.btn-orange-outline:visited {
  color: #ea7400;
}

.btn.btn-orange-outline:hover {
  color: #ffb46a;
}

.btn.btn-blue-solid {
  background-color: #0568ae;
  border: 1px solid #0568ae;
  color: #fff;
}

.btn.btn-blue-solid:visited {
  color: #fff;
}

.btn.btn-blue-solid:hover {
  color: #71c5e8;
}

.btn.btn-green-solid {
  background-color: #007a3e;
  border: 1px solid #007a3e;
  color: #fff;
}

.btn.btn-green-solid:visited {
  color: #fff;
}

.btn.btn-green-solid:hover {
  color: #b6eed3;
}

.btn.btn-red-solid {
  background-color: #cf2a2a;
  border: 1px solid #cf2a2a;
  color: #fff;
}

.btn.btn-red-solid:visited {
  color: #fff;
}

.btn.btn-red-solid:hover {
  color: #b6eed3;
}

.btn.btn-orange-solid {
  background-color: #ea7400;
  border: 1px solid #ea7400;
  color: #fff;
}

.btn.btn-orange-solid:visited {
  color: #fff;
}

.btn.btn-orange-solid:hover {
  color: #b6eed3;
}

.btn.btn-white-solid {
  background-color: #fff;
  border: 1px solid #fff;
  color: #009fdb;
}

.btn.btn-white-solid:visited {
  color: #009fdb;
}

.btn.btn-white-solid:hover {
  color: #71c5e8;
}

.btn.btn-xsmall {
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.35rem 1.5rem;
}

.btn.btn-xxsmall {
  font-size: 0.5rem;
  line-height: 1;
  padding: 0.35rem 0.65rem;
}

.btn-manage {
  border: 1px solid #ccc;
  color: #009fdb;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0.125rem;
  padding: 0.15rem 0.35rem;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-manage:visited {
  color: #009fdb;
}

.btn-manage:hover {
  color: #0568ae;
}

.btn-manage:last-of-type {
  margin-right: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after, .cf:before,
.cf:after {
  content: " ";
  display: table;
}

.clearfix:after, .cf:after {
  clear: both;
}

.clearfix, .cf {
  *zoom: 1;
}

.wordbreak {
  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}


table {
  background-color: #fff;
  border: solid 1px #c6cccf;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

table th,
table td {
  padding: 0.5rem;
  line-height: 1.3;
  border: solid 1px #dddddd;
}

    table th, table tfoot td {
        background-color: #efefef;
        font-weight: normal;
        font-size: 1.85rem;
    }

    table td {
        vertical-align: top;
        font-size: 1.85rem;
    }

    table th {
        vertical-align: middle;
        text-align: left;
        font-size: 1.85rem;
        font-weight: bold;
    }

    table.n
    h2.table-heading {
        background: #888888;
        display: block;
        font-size: 2.15rem;
        padding: 0.15rem 0.5rem;
        color: #fff;
        margin-bottom: 0.25rem;
    }

fieldset table {
  border: solid 1px #dddddd;
}

fieldset table th {
  background-color: #efefef;
}

/* striped tables
----------------------------------------------------------*/
/* tables without border - e.g. Nested tables in Docket Activity Report
---------------------------------------------------------------------------*/
table.noborder {
  border-color: transparent;
}

table.noborder td, table.noborder th {
  border-color: transparent;
}

table.noborder td:first-of-type,
tr:nth-child(even) table.noborder td,
tr:nth-child(odd) table.noborder td, table.noborder th:first-of-type,
tr:nth-child(even) table.noborder th,
tr:nth-child(odd) table.noborder th {
  border-color: transparent;
}

/*form elements inside of tables - e.g. inline editing*/
td .formelement {
  margin-bottom: 0;
}

/* tables without sortable columns
---------------------------------------------------------------------------*/
table th a.sortable,
table.results th a.sortable {
  padding-right: 32px;
  background-image: url("/Content/img/svg/sortable.svg");
  background-position: right 8px top 7px;
  background-size: 11px 11px;
  background-repeat: no-repeat;
}

table th a.sortable.sorted-desc,
table.results th a.sortable.sorted-desc {
  background-image: url("/Content/img/svg/sorted-desc.svg");
}

table th a.sortable.sorted-asc,
table.results th a.sortable.sorted-asc {
  background-image: url("/Content/img/svg/sorted-asc.svg");
}

table.results th.sortable {
  background-size: 14px;
}

th a.sortable,
td a.sortable {
  display: block;
  width: 100%;
}

th a.sortable {
  color: #57595b;
  text-decoration: none;
  padding-right: 18px;
  position: relative;
}

table.tbl-many-col a.sortable:before,
table.tbl-many-col a.sortable:after {
  /* adjust border widths to adjust aspect ratio of triangles */
  border-top-width: 7px;
  border-bottom-width: 7px;
  border-left-width: 5.5px;
  border-right-width: 5.5px;
}

table.tbl-many-col a.sortable:before {
  margin-top: -15px;
}

/* Manage Icon table cells
---------------------------------------------------------------------------*/
th.td-manage,
td.td-manage {
  text-align: center;
  white-space: nowrap;
}

/* Set width to auto table cells
---------------------------------------------------------------------------*/
th.tbl-td-width-auto,
td.tbl-td-width-auto {
  width: auto;
}

/********************************************************************************************** 
*******************************    Responsive table display  **********************************
***********************************************************************************************/
/* placeholder class for mobile responsive tables that should have their header values placed as content on their td's for mobile size */
table.tbl-mobile-headers {
  /* generic tables (that have no cell content) */
}

@media screen and (max-width: 899px) {
  table.tbl-mobile-headers {
    border: none;
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  table.tbl-mobile-headers > thead,
  table.tbl-mobile-headers > tbody,
  table.tbl-mobile-headers > thead > tr,
  table.tbl-mobile-headers > tbody > tr,
  table.tbl-mobile-headers > thead > tr > th,
  table.tbl-mobile-headers > tbody > tr > td,
  table.tbl-mobile-headers > tfoot,
  table.tbl-mobile-headers > tfoot > tr,
  table.tbl-mobile-headers > tfoot > tr > th,
  table.tbl-mobile-headers > tfoot > tr > td {
    display: block;
  }
  table.tbl-mobile-headers > tfoot > tr > td.tbl-td-manage {
    display: none;
  }
  table.tbl-mobile-headers > tfoot > tr > td.textright,
  table.tbl-mobile-headers > tfoot > tr > th.textright,
  table.tbl-mobile-headers > tfoot > tr > td.text-center,
  table.tbl-mobile-headers > tfoot > tr > th.text-center {
    text-align: left;
  }
  table.tbl-mobile-headers > thead > tr, table.tbl-mobile-headers tr.tr-thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.tbl-mobile-headers > tbody > tr {
    margin-bottom: 1rem;
    border: 2px solid #71c5e8;
  }
    table.tbl-mobile-headers > tbody > tr > td {
        font-size: 1.95rem
        /*padding-left: 0;
        padding: 0.5rem;
        border: 1px solid #fff;
        border-bottom: 1px solid #dddddd;*/
    }
  table.tbl-mobile-headers > tbody > tr > td:last-of-type {
    border-bottom: 1px solid #fff;
  }
        table.tbl-mobile-headers > tbody > tr > td:before {
            border: none;
            /*font-size: 0.8rem;*/
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 0 0.25rem 0;
            white-space: normal;
            color: #888888;
            display: block;
            position: relative;
            font-style: italic;
            font-weight: 400;
        }
  table.tbl-mobile-headers > tbody > tr > td.text-center,
  table.tbl-mobile-headers > tbody > tr > td.text-right {
    text-align: left;
  }
  table.tbl-mobile-headers tr > td.mobile-hide,
  table.tbl-mobile-headers tr > td.mobile-hide:before,
  table.tbl-mobile-headers tr > td.mobile-hide:after,
  table.tbl-mobile-headers tr > td.mobile-hide-label:before,
  table.tbl-mobile-headers tr > td.mobile-hide-label:after {
    display: none;
  }
}

table.tbl-mobile-headers tr td:empty::after {
  content: "--";
}

/* --------------------------------- Set Table Widths for all Table Cells -------------------------------------*/
.tbl-td-width-50 th, .tbl-td-width-50 td {
  width: 50%;
}

.tbl-td-width-33 th, .tbl-td-width-33 td {
  width: 33%;
}

.tbl-td-width-25 th, .tbl-td-width-25 td {
  width: 25%;
}

.tbl-td-width-20 th, .tbl-td-width-20 td {
  width: 20%;
}

.tbl-td-width-16 th, .tbl-td-width-16 td {
  width: 16.67%;
}

@media screen and (max-width: 899px) {
  .tbl-td-width-50 th, .tbl-td-width-50 td {
    width: 100%;
  }
  .tbl-td-width-33 th, .tbl-td-width-33 td {
    width: 100%;
  }
  .tbl-td-width-25 th, .tbl-td-width-25 td {
    width: 100%;
  }
  .tbl-td-width-20 th, .tbl-td-width-20 td {
    width: 100%;
  }
  .tbl-td-width-16 th, .tbl-td-width-16 td {
    width: 100%;
  }
}

/* --------------------------------- Set font-size smaller for very wide tables with many columns -------------------------------------*/
/* --------------------------------- Horizontal Scrolling Table with Locked First Column(s) -------------------------------------*/
.table-outer-wrapper {
  position: relative;
}

.scrolling-lock-table-wrapper {
  overflow-x: scroll;
  overflow-y: visible;
  width: 100%;
  padding-left: 210px;
}

.scrolling-lock-table-wrapper table {
  margin-bottom: 0;
}

.scrolling-lock-table-wrapper td, .scrolling-lock-table-wrapper th {
  text-align: left;
  white-space: nowrap;
}

.scrolling-lock-table-wrapper th.text-center, .scrolling-lock-table-wrapper td.text-center {
  text-align: center;
}

.scrolling-lock-table-wrapper th:nth-of-type(1), .scrolling-lock-table-wrapper td:nth-of-type(1),
.scrolling-lock-table-wrapper th:nth-of-type(2), .scrolling-lock-table-wrapper
td:nth-of-type(2) {
  position: absolute;
  z-index: 10;
  border-right: none;
}

.scrolling-lock-table-wrapper td:nth-of-type(1), .scrolling-lock-table-wrapper td:nth-of-type(2) {
  background-color: #fff;
}

.scrolling-lock-table-wrapper th:nth-of-type(1), .scrolling-lock-table-wrapper
td:nth-of-type(1) {
  position: absolute;
  left: 0;
  width: 140px;
}

.scrolling-lock-table-wrapper th:nth-of-type(2), .scrolling-lock-table-wrapper
td:nth-of-type(2) {
  position: absolute;
  left: 140px;
  width: 70px;
}

.scrolling-lock-table-wrapper .thead-selectall th {
  background-color: #fff;
  border-left: none;
  border-right: none;
  overflow: hidden;
}

.scrolling-lock-table-wrapper .thead-selectall th a.btn-edit-row {
  margin: 0;
}

/* --------------------------------- Alternating color rows -------------------------------------*/
.row-bg {
  background: #efefef;
}

/* --------------------------------- max-width tables  -------------------------------------*/
table.tbl-width-600 {
  max-width: 600px;
  margin: 1rem auto;
}

table.tbl-width-auto {
  width: 100%;
}

@media (min-width: 900px), print {
  table.tbl-width-auto {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    table {
        font-size: 20px;
    }

        table th,
        table td {
            font-size: 20px;
        }
}