@use '../abstracts' as *;


.bullet-list {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  li {
    color: var(--solid);
    font-weight: 600;
    font-size: 18px;
    height: auto;
    padding: 16px 24px;
    margin: 1rem;
    background: $orange;
    align-items: center;
    border:1px solid rgba(255,255,255,0.25);
    justify-content: center;
    display: flex;
    top: 0;
    position: relative;
    @extend %transition;
    &:hover {
      background: $orange;
      color: var(--solid);
      top:-8px;
    }
  }
}
