@use '../abstracts' as *;

/* loading/activity indicator (http://cssload.net/) */
/* ------------ */
#loadingIndicator {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include center;
    @extend %overlay;
}

#loader {
    margin: auto;
    border: .5rem solid $orange;
    border-radius: 50%;
    border-top: .5rem solid $white;
    width: 80px;
    height: 80px;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
